.input-wrapper {
    width: 100%;
    color: var(--bl-1);
    gap: 5px;
    transition: all 0.1s linear;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.field-label {
    font-family: var(--h6-font-family);
    font-size: var(--h6-font-size);
    font-style: var(--h6-font-style);
    font-weight: var(--h6-font-weight);
    letter-spacing: var(--h6-letter-spacing);
}

.field {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    line-height: 100%;
}

.field:placeholder-shown {
    color: var(--wh-5);
}