
.front-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    padding: 0 0 5rem 0;
}

.front-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    text-align: center;
    width: 70%;
    background-color: rgb(from var(--primary-04) r g b / calc(alpha - 0.5));
}

.test-butn{
    display: flex;
    color: var(--secondary-01);
    transition: all 0.1s linear;
    padding: 26px 32px;
    border-radius: 26px;
}

.test-butn:hover {
    color: var(--secondary-01);
}

.test-butn:active {
    color: var(--secondary-01);
}

.test-butn h3 {
    line-height: 100%;
}