

.header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: var(--primary-03);
    padding: 7px;
    gap: 20px;
    box-shadow: 0px 4px 4px 0 #00000055;
}
.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo {
    width: 84px;
    height: 84px;
    border-radius: 16px;
    background-color: var(--wh-1);
    overflow: hidden;
}
.title {
    color: var(--wh-1);
}