.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-text {
    font-family: var(--hyperlink-font-family);
    font-size: var(--hyperlink-font-size);
    font-style: var(--hyperlink-font-style);
    font-weight: var(--hyperlink-font-weight);
    letter-spacing: var(--hyperlink-letter-spacing);
}

.signup-text a {
    text-decoration: underline;
    color: var(--secondary-01);
    transition: all 0.1s linear;
}

.signup-text a:hover {
    color: var(--secondary-02);
}

.fields {
    width: 100%;
}

.fields-container{
    padding: 50px;
    background-color: var(--primary-04);
    border-radius: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}